{% extends 'base.html' %}
{% block title %}Saved{% endblock %}

{% block content %}
<div style="max-width: 900px; margin: 0 auto; padding: 20px;">
    <h2 style="margin-bottom: 20px;">Сохраненные</h2>

    <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px;">
        {% for post in posts %}
            <a href="{% url 'post_detail' post.id %}">
                {% if post.image %}
                    <img src="{{ post.image.url }}" style="width:100%; height:200px; object-fit:cover;">
                {% elif post.video %}
                    <video src="{{ post.video.url }}" style="width:100%; height:200px; object-fit:cover;"></video>
                {% endif %}
            </a>
        {% empty %}
            <p>Нет сохраненных постов</p>
        {% endfor %}
    </div>
</div>
{% endblock %}